<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form #loginForm="ngForm" class="login-form" (ngSubmit)="submit(loginForm)">
        <mat-card-content>
          <mat-form-field class="login-full-width">
            <input matInput name="userName" placeholder="Username" ngModel>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" type="submit">Log in</button>
      </form>
    </mat-card>
  
  </div>